name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-vcpkg
        run: cargo install cargo-vcpkg
      - name: Install extra build dependencies (Linux only)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake libtool pkg-config libltdl-dev
      - name: Install dependencies
        run: cargo vcpkg -v build
      - name: Build project
        run: cargo build --verbose
      - name: Install clippy
        run: rustup component add rustfmt clippy
      - name: Run rustfmt
        run: cargo fmt -- --check
      - name: Run clippy
        run: cargo clippy -- -D warnings
      - name: Run unit tests
        run: cargo test --lib --verbose
